*{
    box-sizing: border-box;
}

.item-wrap{
    position: relative;
    background-color: #eee;
    width: 600px;
    height: 1800px;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.item{
    margin-bottom: 20px;
    padding: 30px 10px ;
    color: #222;
    width: 560px;
    font-size:20px;
    border-radius: 4px;
    background: blue;
    box-shadow: 0 4px 16px rgba(0,79,255,0.2);
    text-align: center;
    transition:0.3s;
}

.static { /* 변화없음 */
    position: static;
    left:60px;
}

.relative { /* 본인이 있어야할 위치에서 얼마나 움직이는지 */
    position: relative;
    left:60px;
}

.absolute { /* 부모의 기준에서 얼마나 움직이는지 */
    position:absolute;
    left:60px;
}

.fixed { /* 뷰포트를 기준으로, 스크롤해도 위치가 고정됨 */
    position : fixed;
    left:60px;
}