.item-list{
    padding: 6px;
    width: 550px;
    max-height: 1000px;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.item-list > h1{
    font-size: 32px;
    padding: 6px;
    margin: 12px 0;
}

.item{
    border-radius: 8px;
    padding: 12px;
    transition: 0.3s;
}
.item:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.item h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.item p{
    padding-top: 10px;
    font-size: 14px;
}

.item img{
    width: 55%;
    height: 100%;
    object-fit: contain;
    float:left; /* float으로 인해서 이미지와 텍스트가 같은 선상으로 합쳐짐 */
    /* border-radius: 4px; */
    margin-right: 8px;
}
.clear{
    clear:both;
}

.container{
    padding: 100px;
}