body{
    font-size:16px;
}

*{
    box-sizing: border-box;
}

.center{
    margin: 10px;
}

.item-wrap{
    width: 800px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.item{
    background: #fff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 6px;
    margin: 10px;
}


.percent-wrap .item{ /* 전체의 padding을 뺀 50% */
    width: 50%;
} 

.item-parent{ /* 부모의 넓이에서 50% */
    width: 50%;
}


/* 모바일과 같이 PC와 다른 홈페이지 폰트 크기에 맞춰서 자동으로 변환 */

.item-em{
    width: 20em; /* 폰트 사이즈 18이 1em, 10em(180px)*10 */
}

.item-rem{ 
    width: 20rem;   /* 최상위 폰트 크기 */
}
째
.item-vw{
    width: 20vw;    /* 뷰포트의 가로 크기에 따라 변함 */
}

.item-vh{
    width: 20vh;    /* 뷰포트의 세로 크기에 따라 변함 */
}