.item img{
    width: 100%;
}

.item-bg{
    width: 100%;   
    height: 500px;
    background: #004fff url(../img/swan-7479623_640.jpg) no-repeat center/cover;
                                                /* no-repeat (반복 안함) */
    /* background-position: center;
    background-size: cover; */
}