button{
    width: 120px; /* 가로 넓이 */
    height: 40px; /* 세로 넓이 */
    background-color: rgb(255, 192, 203); /* 버튼 색상 */
    color: black; /* 글꼴 색상 */
    border : none; /* 테두리 */
    font-size: 16px; /* 글꼴 크기 */
    box-shadow: 0 4px 16px rgba(255, 0, 100, 30); /* 박스 그림자값 xyz */
    font-weight: bold; /* 글꼴 두께 */
    border-radius: 20px; /* 테두리 둥글게 */
    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.3s; /* 부드럽게 전환 */
}
button:focus{
    outline: 0; /* 주변 라인 제거 */
}
/* 버튼이 클릭됐을 때 */

button:hover{
    background-color: rgba(255, 150, 183, 90); /* 버튼에 마우스가 다가갔을 때의 색상 */
    cursor: pointer; /* 커서의 모양 변경 */
    box-shadow: 0 2px 4px rgba(255, 0, 100, 70);
}
/* 버튼에 마우스가 올라갔을 때 */