.container{
    text-align: center; /* 하위 그룹들의 정렬을 가운데로 */
    margin-top: 200px;
}

#card-pick{
    transform: scale(1.05); /* id=card-pick의 스케일을 1.05 더 크게 설정함 */
}

#card-pick:hover{
    transform: scale(0.95);
}

.card-box{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: inline-block;
    margin:10px;
    width: 480px;
    max-width: 1200px;
    height: 480px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 26);
    /* overflow: hidden; 사이즈에 넘어간 건 가리기 */
    transition: 0.5s;
}
.card-box:hover{
    transform: scale(0.95);
}

.img-gradient{
    position : absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,0)), rgba(0,0,0,1);
    z-index: 1;
}

.text-wrap{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
    text-align : left;
}

.text-wrap h1{
    color:white;
    background-color: rgba(10, 10, 10, 0.7);
    font-size:36px;
    font-weight: bold;
    margin: 0;
}

.text-wrap p{
    color:white;
    background-color: rgba(10, 10, 10, 0.7);
    font-size:16px;
    line-height: 1.5;
    margin:0;
}

.play-btn{
    width:60px ;
    height: 60px;
    position: absolute;
    right:24px;
    top:24px;
    background: #004fff url(./img/play.png)
    no-repeat center;
    border-radius: 50%;
    z-index: 2;
}