/* .float-left{
    height:100%;
    width:100%;
    object-fit: contain;
}
.float-right{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
 */
.item{
    height: 300px;
    width: 500px;
}

.item img{
    height: 200px;
    width: 320px;
}
.clear{
    clear:both;
}

.item .float-left{
    float: left; /* 왼쪽 */
}
.item .float-right{
    float: right; /* 오른쪽 */
}

.item p{
    font-size: 10px;
}